.centerCard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.writting{
  position: absolute;
  width: 90%;;
  height: 100%;
  top: -6vh;
  left: 0vw;
}

.parent {
  padding: 100px;
}

.slanted {
  position: absolute;
  top: 2vh;
  right: 5vw;
  width: 20vw;
  height: 90vh;
  background: #000;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  div {
    width: 15vw;
    height: 25vh;
    background-image: url("../../images//placeholder.png");
    background-position: center;
    background-size: cover;
  }
  .familyPic {
    background-image: url("../../images/family.jpg");
    background-position: center;
    background-size: cover;
  }
}

.happyBirthday {
  height: 25vh;
  font-family: "Concert One", cursive;
  font-weight: bolder;
  color: #ffffff;
  width: 24vw;
  right: 22vw;
  top: 0vh;
  font-size: 40pt;
}

.beProudText {
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  color: white;
  width: 18vw;
  right: 27vw;
  bottom: 5vw;
  font-size: 30pt;
  .so {
    font-family: "Gloria Hallelujah", cursive;
  }
  .proud {
    font-family: "Lobster", cursive;
    font-weight: bolder;
    font-size: 45pt;
  }
  .awesome {
    font-family: "Permanent Marker", cursive;
  }
}

.frontPage {
  position: absolute;
  width: 46vw;
  height: 95vh;
  right: 0px;
  margin-right: 35px;
  .card {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform-origin: center left;
    border: 1px solid black;
    .flipCardFront {
      background-image: url("../../images/blueBackGround.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: black;
      @extend %positionCardSides;
    }
    .flipCardBack {
      background-image: url("../../images/background.jpg");
      background-position: center;
      background-size: cover;
      color: white;
      transform: rotateY(180deg);
      @extend %positionCardSides;
    }
  }
}

.cardRotated {
  transform: rotateY(180deg);
}

%positionCardSides {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.innerCard {
  background-color: rgb(173, 173, 173);
  position: absolute;
  right: 0px;
  width: 46vw;
  height: 95vh;
  margin-right: 35px;
  box-shadow: 4px 3px rgba(0, 0, 0, 0.521);
  border: 1px solid black;
  z-index: 1;
}

@media only screen and (max-width: 1150px) {
.happyBirthday {
  height: 25vh;
  font-family: "Concert One", cursive;
  font-weight: bolder;
  color: #ffffff;
  width: 24vw;
  right: 22vw;
  top: 0vh;
  font-size: 35pt;
}

.beProudText {
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  color: white;
  width: 18vw;
  right: 27vw;
  bottom: 5vw;
  font-size: 20pt;
  .so {
    font-family: "Gloria Hallelujah", cursive;
  }
  .proud {
    font-family: "Lobster", cursive;
    font-weight: bolder;
    font-size: 35pt;
  }
  .awesome {
    font-family: "Permanent Marker", cursive;
  }
}
}
